<div class="container-fluid">
  <div class="form-group mb-2" *ngIf="editNote;else display">
    <div>
      <label><strong>Title:</strong></label>
      <input class="form-control" [(ngModel)]="editTitle" placeholder="Title" />
    </div>

    <div>
      <label><Strong>Content:</Strong></label>
      <textarea class="form-control" rows="10" cols="100" [(ngModel)]="editContent" placeholder="Content"></textarea>
    </div>
    <p class="buttons">
      <button class="btn btn-success" *ngIf="editNote" (click)="save()">Save</button>
      <button class="btn" *ngIf="editNote" (click)="cancel()">Cancel</button>
    </p>
  </div>

  <ng-template #display>
    <div class="col-sm-6"> <!-- SET MIN WIDTH NEW NTES ARE TRUNCATED IN DISPLAY VIEW -->
      <div *ngIf="note">
        <label class="date">Last edited: {{ note.date | date:'dd MMM yyyy \'at\' hh:mm' }}</label>
      </div>

      <div>{{editTitle}}</div>

      <div>{{editContent}}</div>
      <p class="buttons">
        <button class="btn btn-success" *ngIf="!editNote" (click)="edit()">Edit</button>
      </p>
    </div>
  </ng-template>
</div>
