nav {
  a {
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: #eee;
    border-radius: .3em;

    &:visited {
      color: #607d8b;
    }

    &:link {
      color: #607d8b;
    }

    &:hover {
      color: #039be5;
      background-color: #cfd8dc;
    }

    &.active {
      color: #039be5;
    }
  }
}
